.m-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f7f9fc;
}

.m-container button {
  background-color: #4a90e2;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 14px;
}

.m-container button:hover{
    background-color: #839cac;
}

.m-container button:active{
    background-color: #3c5c81;
}

.m-container h2,
.m-container h3 {
  color: #333;
}

.course-list {
  list-style-type: none;
  padding: 0;
}

.course-item {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.course-item strong {
  font-size: 18px;
  color: #2c3e50;
}

.course-item p {
  margin: 5px 0 10px;
  color: #555;
}

.course-item button {
  margin-right: 10px;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
}

.course-item button:nth-child(1) {
  background-color: #e74c3c; 
  color: white;
}

.course-item button:nth-child(2) {
  background-color: #3498db; 
  color: white;
}

.course-item button:nth-child(3) {
  background-color: #2ecc71; 
  color: white;
}

.students-section {
  margin-top: 30px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.students-section ul {
  list-style: none;
  padding: 0;
}

.students-section li {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  display: flex;

  /* justify-content: space-between; */
}

.ss{
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 18px;
}

.students-section button {
  background-color: #e67e22;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
